.page-container {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    background-color: beige;
    height: 100vh;
}

.body-container {
    display: block;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #d1d3d3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 24px;
    height: auto;
    overflow: auto;
}

.body-container div {
    padding: 10px;
}

.title {
    font-size: 36px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 65px;
}

.home-container a {
    font-size: 10px;
    background-color: lightgrey;
    border-radius: 12px;
    padding: 10px 18px;
    margin: 12px;
}

.home-container a:hover {
    filter: brightness(70%);
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.home-container h1 a {
    color: black;
    text-decoration: none;
}

.submit-button {

}
.submit-button:hover {
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.create-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#createCardButton {
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 14px;
    box-shadow: 0 6px #999;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 10px;
    padding: 10px 18px;
  }
  
 #createCardButton:hover {
    background-color: #3e8e41;
    cursor: pointer;
    transition: all ease-in-out .2s;
  }
  
#createCardButton:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

#home-button {
    background-color: white;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#home-button:hover {
    cursor: pointer;
    filter: brightness(100%);
}

#home-logo {
    height: 40px;
    width: 40px;
}